<h4 style="width: 60rem; padding: 15px; margin: 20px auto; background-color: white; border-left: 12px solid #4865b2;">いいね一覧</h4>
<div class="row" style="width: 60rem; margin:0 auto;">
<% @articles.each do |article| %>
<div class="card" style="width: 18rem; margin:15px;">
  <iframe class="card-img-top" style="width: 18rem; height: 10rem; margin:0 auto;"  src="https://www.youtube.com/embed/<%= article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <h6 class="card-title" style="font-weight:bold;"><i class="fas fa-caret-square-right"></i><%= link_to article.title, article_path(article) %></h6>
    <p style="color: #808080;"><i class="fas fa-clock"></i><%= article.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>
</div>
<% end %>
</div>

