<h1>いいね一覧</h1>
<div class="row">
<% @articles.each do |article| %>
<div class="card" style="width: 18rem; margin:10px;">
  <iframe class="card-img-top" style="width: 18rem; height: 12rem; margin:0 auto; " src="https://www.youtube.com/embed/<%= article.thumbnail%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <div class="card-body">
    <h5 class="card-title"><%= link_to article.title, article_path(article) %></h5>
  </div>
</div>
<% end %>
</div>

