<h2 style="width: 50rem; margin:20px auto;"><i class="fas fa-edit"></i>新規投稿</h2>

<%= render 'form', article: @article %>

<div style="width: 50rem; margin:20px auto;">
 <%= link_to '記事一覧へ', articles_path  %>
</div>
