<h4 style="width: 50rem; margin:20px auto; text-align:center; font-family: 'Microsoft Sans Serif',sans-serif; font-weight:bold;"><i class="fas fa-edit"></i>新規投稿</h4>

<%= render 'form', article: @article %>
