<h4 style="width: 50rem; margin:20px auto; text-align:center; font-family: 'Microsoft Sans Serif',sans-serif; font-weight:bold;"><i class="fas fa-edit"></i>プロフィール編集</h4>

<%= render 'form', user: @user %>

<div style="width: 50rem; margin:20px auto;">
 <%= link_to 'マイページに戻る', @user %> 
</div>