<h1 style="width: 50rem; margin:20px auto;"><i class="fas fa-edit"></i>ユーザー情報編集</h1>

<%= render 'form', user: @user %>

<div style="width: 50rem; margin:20px auto;">
 <%= link_to 'ユーザーページに戻る', @user %> <br>
 <%= link_to 'ユーザー一覧へ', users_path %>
</div>