<h2 style="width: 50rem; margin:20px auto;"><i class="fas fa-edit"></i>ユーザー情報編集</h2>

<%= render 'form', user: @user %>

<div style="width: 50rem; margin:20px auto;">
 <%= link_to 'ユーザーページに戻る', @user %> 
</div>