<h1 style="width: 50rem; padding: 20px; margin:0 auto;">ユーザー一覧</h1>

<% @users.each do |user| %>
<div class="card" style="width: 50rem; margin:10px auto;">
    
    <%# ユーザーアイコン　%>
    <div align="left">
    <% if user.icon? %>
      <%= image_tag user.icon.url, style="width: 10%; padding: 10px;" %>
    <% else %>
      <%= image_tag '/assets/default.png' , width: '10%' , padding: '10px' %> 
     
    <% end %>
    
    <%# ユーザー名　%>
    <%= link_to user_path(user)do %>
      　<%= user.name %>
    <% end %>
    </div>

</div>
<% end %>



