<h4 style="width: 50rem; margin:20px auto; text-align:center; font-family: 'Microsoft Sans Serif',sans-serif; font-weight:bold;"><i class="fas fa-user"></i>ユーザー一覧</h4>


<div class="row" style="width: 55rem; margin: 0 auto;">
  <% @users.each do |user| %>
  <div class="card" style="width: 12rem; margin: 12px; padding: 10px;">
    <% if user.icon? %>
      <%= image_tag user.icon.url, width: '100%', style: 'margin: auto', class: 'icon_image' %>
    <% else %>
      <image src="/assets/default.png" width= "100%" class = "icon_image"> 
    <% end %>

  <div class="card-body">
    <h5 class="card-title" style="font-weight:bold;"><i class="fas fa-user"></i><%= link_to user_path(user)do %><%= user.name %><% end %></h5>
    <p style="color: #808080;"><%= '@'+ user.login_id %></p>
  </div>
  
  </div>
  <% end %>
</div>







