<h1 class="display-1 text-white text-right font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">My Favorite YouTube</h1>
<h2 class="text-right" style="color: #ccc">お気に入りの動画をシェアしよう。</h2>
<div class="text-right">
    <%= link_to "新規作成", new_user_registration_path, class: "btn btn-light" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-light" %>
</div>